# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv
env/
env6/
ragenv/
.venv/
*.venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# Streamlit cache
.streamlit/

# Python package distribution
*.egg-info/
dist/
build/

# Environment variables file (optional, if you have secrets)
.env
